<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-menu-button>
       </ion-menu-button>
    </ion-buttons>
    <ion-title>CARGAR LICENCIA</ion-title>
  </ion-toolbar>
</ion-header>
{{ diagnostic }}
{{ error }}
<ion-content padding>
    <form #licenciaForm="ngForm" (ngSubmit)="onSubmit()" >
        <ion-item>
           <ion-label>INICIO LICENCIA</ion-label>
               <ion-datetime displayFormat="MM DD YY" placeholder="Select Date" [(ngModel)]="licencia.inicio" name="fechaInicio" #fechaInicio="ngModel" required></ion-datetime>
               <div *ngIf="!(fechaInicio.valid || fechaInicio.pristine)" class="invalid-feedback">
                    La fecha de inicio es requerida
               </div>
        </ion-item>

        <ion-item>
            <ion-label>FIN LICENCIA</ion-label>
            <ion-datetime displayFormat="MM DD YY" placeholder="Select Date" [(ngModel)]="licencia.fin" name="fechaFin" #fechaFin="ngModel" required></ion-datetime>
                <div *ngIf="!(fechaFin.valid || fechaFin.pristine)" class="invalid-feedback">
                       La fecha de inicio es requerida
                </div>
        </ion-item>


        <ion-item>
            <ion-label>NUMERO DE SOLICITUD</ion-label>
            <ion-input type="number" [(ngModel)]="licencia.nroSolicitud" name="nroSolicitud" #nroSolicitud="ngModel" required ></ion-input>
            <div *ngIf="!(nroSolicitud.valid || nroSolicitud.pristine)" class="invalid-feedback">
                    El nro de la SOLICITUD es requerido
            </div>
        </ion-item>
       <div class="form-group">
            <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
       <!--
        <ion-label color="danger" [hidden]="nroSolicitud.valid || nroSolicitud.pristine">El nro de la SOLICITUD es requerido</ion-label>
        --> 
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button type="submit" [disabled]="!licenciaForm.form.valid">           
              <ion-button type="submit" [disabled]="!licenciaForm.form.valid">
                    <ion-icon name="checkmark-circle-outline"></ion-icon>
              </ion-button>
            </ion-fab-button>
        </ion-fab>
    </form>
</ion-content>
