        /*HEADER*/
.textoTitulo {
	font-family:"DIN";
}

        /*TEXTO LABEL*/
.textoBold {
	font-weight:bold;
	font-size:17px;
}

        /*TEXTO INPUT*/
.fuente {
  font-size:21px;
}

             /*FOOTER*/
.textoFooter {
  font-family:"DIN";
  color:#fff;
  text-align:center;
  font-size: 1rem;
}  
