<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title class="textoTitulo">Informes</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <ion-item class="busquedaPrimera">
          <ion-label position="stacked" class="textoBold" color="success">Seleccionar actividad</ion-label>
          <ion-select  (ionChange)="onChange($event)" okText="Okay" cancelText="Dismiss" [(ngModel)]="url">
             <ion-select-option value="/members/menu/actividadesLectura/listarConvocatoria" selected >Convocatoria</ion-select-option>
             <ion-select-option value="/members/menu/actividadesLectura/listarLicencia" >Licencia</ion-select-option>
             <ion-select-option value="/members/menu/actividadesLectura/listarTrabajoAdmin" >Trabajo Administrativo</ion-select-option>
             <ion-select-option value="/members/menu/actividadesLectura/listarVisita" >Visita Escuela</ion-select-option>
          </ion-select>
      </ion-item>      

      <!--<h1> Informes de la Convocatoria</h1>-->
      <ion-item class="busquedaSegunda">
         <ion-label position="stacked" class="textoBold" color="success">Buscar </ion-label>
         <ion-input type="text"  [(ngModel)]="tipo"></ion-input>
      </ion-item>
      <ion-button (click)="filtrar()">Buscar</ion-button>
     


      <ion-list margin-top>
          <ion-item-sliding *ngFor="let item of convocatorias">
            <ion-item lines="inset" button [routerLink]="['/members/details', item.id]">
              <ion-label>
                TIPO DE CONVOCATORIA: {{ item.tipoConvocatoria.descripcion }} <br>
                INICIO: <p>{{ item.inicio }}</p>
                FIN:  <p>{{ item.fin }}</p>
              </ion-label>
            </ion-item>
          </ion-item-sliding>
      </ion-list>


      <ion-infinite-scroll (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Loading Users...">
         <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
      
  </ion-content>

  <ion-footer>
   <ion-toolbar color="primary">
    <ion-title class="textoFooter"><strong>Buenos Aires</strong> Provincia</ion-title>
   </ion-toolbar>
  </ion-footer>
  