         /*HEADER*/
         .textoTitulo {
            font-family:"DIN";
        }
        
                /*TEXTO INPUT*/
        .textoBold {
            font-weight:bold;
          font-size:17px;
        }
        
        .ion-title {
            color:grey;
            text-align: left;
        }
        
        .item-inner {
            border-style:none;
        }

        .busquedaPrimera {
            padding-left:1rem;
            padding-right:1rem;
        }

         .busquedaSegunda {
            padding-left:1rem;
            padding-right:1rem;
        }
        
        .list-md .item-lines-inset {
            border-style: solid;
            border-width: 1px 1px 1px 8px;
            border-color: #9aca3c;
            margin: 5px;
            color:grey;
            -webkit-box-shadow: 2px 10px 22px -8px rgba(0,0,0,0.75);
            -moz-box-shadow: 2px 10px 22px -8px rgba(0,0,0,0.75);
            box-shadow: 2px 10px 22px -8px rgba(0,0,0,0.75);
        }
        
                /*CENTRAR BOTON*/
        .form-group {
            text-align:center;
        }
        
                     /*FOOTER*/
        .textoFooter {
          font-family:"DIN";
          color:#fff;
          text-align:center;
          font-size: 1rem;
        } 