
                    /*TEXTO LABEL*/
        .textoBold {
          font-weight:bold;
          font-size:14px;
          color:#454545;
        }

                /*TEXTO INPUT*/
		.fuente {
		  font-size:19px;
		}

