<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="textoTitulo">Informes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item class="busquedaPrimera">
     <ion-label position="stacked" class="textoBold" color="success">Seleccionar actividad</ion-label>
     <ion-select  (ionChange)="onChange($event)" okText="Okay" cancelText="Cancelar" [(ngModel)]="url">
        <ion-select-option *ngFor="let opt of opciones">{{opt}}</ion-select-option>
     </ion-select>
  </ion-item>

  <router-outlet></router-outlet>
</ion-content>