             /*HEADER*/
.textoTitulo {
  font-family:"DIN";
}


             /*BOTONES*/
.button-large {
	height:3em;
}


            /*AGENDA*/
.botonFullAgenda {
	--ion-color-primary: #24478f;   
  	color: #fff;
  	margin-top:1.3rem;
  	margin-bottom:1.3rem;
  	font-size: 1.5rem;
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.botonFullAgenda:hover {
	background-color: #24478f;
	color: white;
}



            /*ACTIVIDAD*/
.botonFullActividad {
	--ion-color-primary: #b50f68;
  	color: #fff;
  	margin-top:1.3rem;
  	margin-bottom:1.3rem;	
  	font-size: 1.5rem;
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);	
}

.botonFullActividad:hover {
	background-color: #b50f68;
	color:white;
}




            /*INFORMES*/
.botonFullInformes {
	--ion-color-primary: #9aca3c;    
  	color: #fff;
  	margin-top:1.3rem;
  	margin-bottom:1.3rem;
  	font-size:1.5rem;
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
 }

.botonFullInformes:hover {
	background-color: #9aca3c;    
	color:white;
}



            /*FOOTER*/
.textoFooter {
  font-family:"DIN";
  color:#fff;
  text-align:center;
  font-size: 1rem;
}  

      

  
