<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>SELECCIONAR ACTIVIDAD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="full" routerLink="/members/menu/actividad/cargarVisita">VISITA ESCUELA</ion-button>
  <ion-button expand="full" routerLink="/members/menu/actividad/cargarTrabajoAdmin">TRABAJO ADMINISTRATIVO</ion-button>
  <ion-button expand="full" routerLink="/members/menu/actividad/cargarConvocatoria">CONVOCATORIA</ion-button>
  <ion-button expand="full" routerLink="/members/menu/actividad/cargarLicencia">LICENCIA</ion-button>
</ion-content>
