/*.listado {
	margin:0;
	padding:0;
}*/

/*.label {
	margin:0;
}*/

.itemBoton {
  /*--inner-border-width:0;*/
  --padding-start:0;
  margin-bottom:30px;
}

.textoDetalle {
  font-weight:bold;
  font-size:14px;
  color:#9aca3c;
}

.tituloArch {
  font-weight:bold;
  font-size:18px;
  color:#0476af;
  margin-top:15px;
  margin-bottom:5px;
}