<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="textoTitulo">Detalles de la licencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list margin-top class="listado">
        <ion-item-sliding *ngFor="let item of licencia">
          <ion-item class="itemBoton" lines="inset" >
            <ion-label class="label">
              
                          <p class="textoDetalle">Art&iacute;culo:</p> 
                          <p class="infoDetalle">{{ item.encuadre.articulo }}</p> 
                          <p class="textoDetalle">Inicio:</p>  
                          <p class="infoDetalle">{{ stringAsDate(item.inicio) | date:'fullDate' }}</p>
                          <p class="textoDetalle">Fin:</p>
                          <p class="infoDetalle">{{ stringAsDate(item.fin) | date:'fullDate' }}</p>
                          <p class="textoDetalle">Tipo:</p>   
                          
                          
                          <div  *ngIf="item.medica=='T'" >
                              <p>medica </p>
                              <p class="textoDetalle">C&oacute;digo</p>
                              <p>{{ item.codigo}}</p>
                          </div>
                      
            </ion-label>
          </ion-item>
        </ion-item-sliding>
     </ion-list>

</ion-content>
