<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="loginForm" (submit)="login()">
        <ion-item>
          <ion-input type="mail" formControlName="username" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" formControlName="pwd" required></ion-input>
        </ion-item>
        <ion-button type="submit" [disabled]="!loginForm.valid">Submit</ion-button>
    </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>