
          <ion-item class="listado">
             <ion-label position="stacked" class="textoBold" color="success">Motivo</ion-label>
             <ionic-selectable class="fuente"
                item-content
                [(ngModel)]="visitaMotivo"
                name="motivoVisita"
                itemValueField="codigo"
                itemTextField="descripcion"
                [items]="tiposMotivos"
                [canSearch]="true"
                searchPlaceholder="buscar motivo visita"
                [searchFailText]="'No hay resultados.'"
                required>

                <ng-template ionicSelectableCloseButtonTemplate>
                    <ion-icon name="close-circle" style="font-size: 24px;"></ion-icon>
                </ng-template>
              </ionic-selectable>
          </ion-item> 
          
          <ion-item class="listado">
            <ion-label position="stacked" class="textoBold" color="success">Fecha Desde</ion-label>
                <ion-datetime class="fuente" displayFormat=" DD MMM, YYYY " [(ngModel)]="inicio" name="fechaInicio" #fechaInicio="ngModel"
                 monthNames="enero, febrero, marzo, abril, mayo, junio, julio, agosto, septiembre, octubre, noviembre, diciembre"
                 monthShortNames="ene, feb, mar, abr, may, jun, jul, ago, sep, oct, nov, dic"
                 dayNames="domingo, lunes, martes, miercoles, jueves, viernes, sabado"
                 dayShortNames="dom, lun, mar, mie, jue, vie, sab, dom"
                 min="2017"
                 max="2100"
                 mode="ios"
                 (ionChange)="validarFechas()"
                 cancelText="cancelar"
                 doneText="guardar"
                ></ion-datetime>
                <div *ngIf="!(fechaInicio.valid || fechaInicio.pristine)" class="invalid-feedback">
                     La fecha de inicio es requerida
                </div>
         </ion-item>

         <ion-item class="listado">
             <ion-label position="stacked" class="textoBold" color="success">Fecha Hasta</ion-label>
             <ion-datetime class="fuente" displayFormat=" DD MMM, YYYY " [(ngModel)]="fin" name="fechaFin" #fechaFin="ngModel" 
               monthNames="enero, febrero, marzo, abril, mayo, junio, julio, agosto, septiembre, octubre, noviembre, diciembre"
               monthShortNames="ene, feb, mar, abr, may, jun, jul, ago, sep, oct, nov, dic"
               dayNames="domingo, lunes, martes, miercoles, jueves, viernes, sabado"
               dayShortNames="dom, lun, mar, mie, jue, vie, sab, dom"
               mode="ios"
               min="2019"
               max="2100"
               cancelText="cancelar"
               doneText="guardar"
               (ionChange)="validarFechas()"
             ></ion-datetime>
         </ion-item>
         <div *ngIf="fechasNoValidas"  style="color:red;">
          La fecha fin no debe de ser menor que la fecha de inicio
        </div>
        
           <div class="form-group">
            <ion-button (click)="filtrar()">Buscar</ion-button>
           </div> 
           <hr>
           <div  *ngIf="visitasEscuelas.length==0" class="centrarResultado">
            <ion-label class="textoBold" color="success"> No hay resultados</ion-label>
           </div>

           <ion-list margin-top class="listado">
              <ion-item-sliding *ngFor="let item of visitasEscuelas">
                <ion-item class="itemBoton" lines="inset" button [routerLink]="['/members/menu/actividadesDetalles/visitaDetalles', item.id]">
                  <ion-label class="label">
                    <ion-grid>
                         <ion-row>
                          <ion-col size="3">
                           <p class="textoDetalle">Lugar:</p>
                           <p class="textoDetalle">Inicio:</p>
                           <p class="textoDetalle">Fin:</p>
                          </ion-col>
                          <ion-col size="9"> 
                           <P>{{ item.establecimiento.nombre }}</P>
                           <p>{{ stringAsDate(item.inicio) | date:'fullDate' }}  {{ hora(item.inicio)}}</p>
                           <p>{{ stringAsDate(item.fin) | date:'fullDate' }}  {{ hora(item.fin)}}</p>
                          </ion-col>
                        </ion-row>
                       </ion-grid> 
                  </ion-label>
                </ion-item>
              </ion-item-sliding>
            </ion-list>


            <ion-infinite-scroll (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Loading Users..." distance="2%" threshold="10px">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
           </ion-infinite-scroll>
           
   
