<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>CARGAR TRABAJO ADMINISTRATIVO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form (ngSubmit)="logForm()">
        <ion-item>
          <ion-label>FECHA</ion-label>
          <ion-datetime displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
        </ion-item>
  
        <ion-item>
          <ion-label>HORA INICIO</ion-label>
          <ion-datetime displayFormat="HH:mm"></ion-datetime>
        </ion-item>
          
        <ion-item>
          <ion-label>HORA FIN</ion-label>
          <ion-datetime displayFormat="HH:mm"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>TRABAJO ADMINISTRATIVO</ion-label>
          <ionic-selectable
            item-content
            [(ngModel)]="tipoTrabajo"
            itemValueField="id"
            itemTextField="tipo"
            [items]="tiposTrabajos"
            [canSearch]="true"
            (onSearch)="searchPorts($event)">
          </ionic-selectable>
        </ion-item>

        <ion-item>
          <ion-label>OBSERVACIONES</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <!-- 
        <ion-item>
            <h4 *ngIf="images.length == 0" text-center>SUBIR ACTAS!</h4>
            <ion-list>
                <ion-item *ngFor="let img of images; index as pos" text-wrap>
                   <ion-thumbnail slot="start">
                     <ion-img [src]="img.path"></ion-img>
                   </ion-thumbnail>
                   <ion-label>
                      {{ img.name }}
                   </ion-label>
                   <ion-button slot="end" fill="clear" (click)="startUpload(img)">
                     <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
                   </ion-button>
                   <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
                     <ion-icon slot="icon-only" name="trash"></ion-icon>
                   </ion-button>
                </ion-item>
           </ion-list>
         </ion-item>
 
         
          <ion-item>
            <ion-button fill="clear" expand="full"  (click)="selectImage()">
               <ion-icon slot="start" name="camera"></ion-icon> Select Image
            </ion-button>
          </ion-item> -->

          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button routerLink="" routerDirection="forward">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
 
    </form>  

</ion-content>
