<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="textoTitulo">Trabajo Administrativo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <form #trabajoAdminForm="ngForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="stacked" class="textoBold" color="success">Fecha Inicio</ion-label>
          <ion-datetime displayFormat="MM DD YY" [(ngModel)]="trabajoAdmin.inicio" name="fechaInicio" #fechaInicio="ngModel" required></ion-datetime>
          <div *ngIf="!(fechaInicio.valid || fechaInicio.pristine)" class="invalid-feedback">
            La fecha de inicio es requerida
          </div>
        </ion-item>
  
        <ion-item>
          <ion-label position="stacked" class="textoBold" color="success">Hora Inicio</ion-label>
          <ion-datetime displayFormat="HH:mm" [(ngModel)]="trabajoAdmin.horaInicio" name="horaInicio" #horaInicio="ngModel" required></ion-datetime>
          <div *ngIf="!(horaInicio.valid || horaInicio.pristine)" class="invalid-feedback">
            La fecha de fin es requerida
          </div>
        </ion-item>
          
        <ion-item>
          <ion-label position="stacked" class="textoBold" color="success">Hora Fin</ion-label>
          <ion-datetime displayFormat="HH:mm" [(ngModel)]="trabajoAdmin.horaFin" name="horaFin" #horaFin="ngModel" required></ion-datetime>
          <div *ngIf="!(horaFin.valid || horaFin.pristine)" class="invalid-feedback">
            La fecha de fin es requerida
          </div>
        </ion-item>

        <ion-item>
          <ion-label position="stacked" class="textoBold" color="success">Tipo</ion-label>
          <ionic-selectable
            item-content
            [(ngModel)]="trabajoAdmin.tipoTrabajo"
            name="tipoTrabajo"
            itemValueField="id"
            itemTextField="tipo"
            [items]="tiposTrabajos"
            [canSearch]="true"
            (onSearch)="searchPorts($event)">
          </ionic-selectable>
        </ion-item>

        <ion-item>
          <ion-label position="stacked" class="textoBold" color="success">Observaciones</ion-label>
          <ion-input type="text" [(ngModel)]="trabajoAdmin.observaciones" name="observaciones" #observaciones="ngModel"></ion-input>
        </ion-item>

        <!-- 
        <ion-item>
            <h4 *ngIf="images.length == 0" text-center>SUBIR ACTAS!</h4>
            <ion-list>
                <ion-item *ngFor="let img of images; index as pos" text-wrap>
                   <ion-thumbnail slot="start">
                     <ion-img [src]="img.path"></ion-img>
                   </ion-thumbnail>
                   <ion-label>
                      {{ img.name }}
                   </ion-label>
                   <ion-button slot="end" fill="clear" (click)="startUpload(img)">
                    ADJUNTAR
                     <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
                   </ion-button>
                   <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
                     <ion-icon slot="icon-only" name="trash"></ion-icon>
                   </ion-button>
                </ion-item>
           </ion-list>
         </ion-item>
 
         
          <ion-item>
            <ion-button (click)="selectImage()">
               <ion-icon slot="start" name="camera"></ion-icon> Select Image
            </ion-button>
          </ion-item> -->
          <div class="form-group">
            <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </div>

          <ion-fab vertical="bottom" horizontal="end" slot="icon-only">
            <ion-fab-button type="submit" [disabled]="!trabajoAdminForm.form.valid" color="tertiary">
              <!--<ion-button type="submit" [disabled]="!trabajoAdminForm.form.valid">-->
                    <ion-icon name="checkmark"></ion-icon>
              <!--</ion-button> -->
            </ion-fab-button>
          </ion-fab>
 
    </form>  

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="textoFooter"><strong>Buenos Aires</strong> Provincia</ion-title>
  </ion-toolbar>
</ion-footer>
