<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="textoTitulo">Convocatoria</ion-title>
  </ion-toolbar>
</ion-header>

{{ horaFin}}

{{convocatoria.inicio}}
{{ horaInicio}}


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form  #convocatoriaForm="ngForm" (ngSubmit)="onSubmit()">

            <!--- ******* FECHA Y HORA INICIO **********************************-->
           <ion-item>
            <ion-label position="stacked" class="textoBold" color="success">Fecha (*)</ion-label>
            <ion-datetime class="fuente" displayFormat="DD/MMM/YYYY" pickerFormat="DD-MMM-YYYY" [(ngModel)]="convocatoria.inicio" name="inicio" #inicio="ngModel" required
                  monthNames="enero, febrero, marzo, abril, mayo, junio, julio, agosto, septiembre, octubre, noviembre, diciembre"
                  monthShortNames="ene, feb, mar, abr, may, jun, jul, ago, sep, oct, nov, dic"
                  dayNames="domingo, lunes, martes, miercoles, jueves, viernes, sabado"
                  dayShortNames="dom, lun, mar, mie, jue, vie, sab, dom"
                  min="2017"
                  max="2050"
                  mode="ios"
                  cancelText="cancelar"
                  doneText="guardar"
            ></ion-datetime>
                <div *ngIf="!(inicio.valid || inicio.pristine)" class="invalid-feedback">
                  La fecha de inicio es requerida
               </div>
          </ion-item>

          <ion-item>
            <ion-label position="stacked" class="textoBold" color="success">Hora Inicio  (*)</ion-label>
            <ion-datetime class="fuente" displayFormat="HH:mm A" pickerFormat="HH:mm A" [(ngModel)]="horaInicio" name="hInicio" #hInicio="ngModel" required
                  mode="ios"
                  cancelText="cancelar"
                  doneText="guardar"
            ></ion-datetime>
                <div *ngIf="!(hInicio.valid || hInicio.pristine)" class="invalid-feedback">
                La hora de inicio es requerida
               </div>
          </ion-item>

            <!--- ******* FECHA Y HORA FIN **********************************-->



          <ion-item>
            <ion-label position="stacked" class="textoBold" color="success">Hora Fin  (*)</ion-label>
            <ion-datetime class="fuente" displayFormat="HH:mm A" pickerFormat="HH:mm A" [(ngModel)]="horaFin" name="hFin" #hFin="ngModel" required
                  mode="ios"
                  cancelText="cancelar"
                  doneText="guardar"
            ></ion-datetime>
                <div *ngIf="!(hFin.valid || hFin.pristine)" class="invalid-feedback">
                  La hora de fin es requerida
               </div>
          </ion-item>

          <!--- *********************************************************** **********************************-->


          <ion-item>
                <ion-label position="stacked" class="textoBold" color="success">Tipo de convocatoria</ion-label>
                <ionic-selectable class="fuente"
                  item-content
                  [(ngModel)]="convocatoria.tipoConvocatoria"
                  name="convocatoriaTipo"
                  itemValueField="codigo"
                  itemTextField="descripcion"
                  [items]="tiposTrabajos"
                  [canSearch]="true"
                  searchPlaceholder="buscar tipo convocatoria"
                  (onSearch)="searchPorts($event)">
                  <ng-template ionicSelectableCloseButtonTemplate>
                      <ion-icon name="close-circle" style="font-size: 24px;"></ion-icon>
                  </ng-template>
                </ionic-selectable>
          </ion-item>

          <ion-item>
                <ion-label position="stacked" class="textoBold" color="success">Distrito</ion-label>
                <ionic-selectable class="fuente"
                  item-content
                  [(ngModel)]="convocatoria.distrito"
                  name="convocatoriaDistrito"
                  itemValueField="numero"
                  itemTextField="descripcion"
                  [items]="tiposDistritos"
                  [canSearch]="true"
                  searchPlaceholder="buscar distrito"
                  (onSearch)="searchDistritos($event)">
                  <ng-template ionicSelectableCloseButtonTemplate>
                      <ion-icon name="close-circle" style="font-size: 24px;"></ion-icon>
                  </ng-template>
                </ionic-selectable>
          </ion-item>

          <ion-item>
                <ion-label position="stacked" class="textoBold" color="success">Lugar de la convocatoria</ion-label>
                <ion-input class="fuente" type="text" [(ngModel)]="convocatoria.lugar" name="lugar" #lugar="ngModel"></ion-input>
        </ion-item>



<!-- **********************************  Carga de las imagenes  ********************************************************************** -->
   <hr>
    <div class="posicion">
    <ion-label position="stacked" class="textoBold" color="success" *ngIf="imagesWeb.length == 0" text-center>No hay im&aacute;genes seleccionadas</ion-label>
    </div>
    <ion-list>
        <ion-item *ngFor="let img of imagesWeb; index as pos" text-wrap>
            <ion-thumbnail slot="start">  
                <ion-img [src]="img.archivo"></ion-img>
            </ion-thumbnail>


            <ion-button slot="end" fill="clear" (click)="deleteImageWeb(pos)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
        </ion-item> 
    </ion-list>

      <ion-item>
        <div class="fileUpload btn btn-primary">       
         <input type="file" id="fileLoader" #fileLoader name="files" title="Load File" hidden />
         <ion-button class="tipoBoton" (click)="changeListener(fileLoader)">
              Seleccionar imagen
         </ion-button>
        </div>
      </ion-item> 
<!-- ******************************************************************************************************** -->
        
       <!--      <div class="form-group">
              <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>-->

          <hr>
          <hr>
          <hr>
            <ion-fab horizontal="end" >
              <ion-fab-button color="tertiary" [disabled]="!convocatoriaForm.form.valid">
                <ion-icon name="checkmark" style="position: absolute;left: 32%; text-align: center"></ion-icon>
                <ion-button fill="clear" class="centerGroup" type="submit" [disabled]="!convocatoriaForm.form.valid" color="tertiary">
                </ion-button>
              </ion-fab-button>
            </ion-fab> 

          
           <!-- <ion-fab vertical="bottom" horizontal="end" >
              <ion-fab-button type="submit" [disabled]="!convocatoriaForm.form.valid" color="tertiary">
                    <ion-icon name="checkmark"></ion-icon>
              </ion-fab-button>
             </ion-fab> --> 
             
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>      
</ion-content>

