<ion-header>
  <ion-toolbar>
    <ion-title>Convocatoria</ion-title>
  </ion-toolbar>
</ion-header>
{{ diagnostic }}
<ion-content padding>
    <form  #convocatoriaForm="ngForm" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-label position="stacked">Fecha Inicio</ion-label>
            <ion-datetime displayFormat="MM DD YY" [(ngModel)]="convocatoria.fechaInicio" name="fechaInicio" #fechaInicio="ngModel" required></ion-datetime>
            <div *ngIf="!(fechaInicio.valid || fechaInicio.pristine)" class="invalid-feedback">
              La fecha de inicio es requerida
           </div>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Fecha Fin</ion-label>
            <ion-datetime displayFormat="MM DD YY" [(ngModel)]="convocatoria.fechaFin" name="fechaFin" #fechaFin="ngModel" required></ion-datetime>
            <div *ngIf="!(fechaFin.valid || fechaFin.pristine)" class="invalid-feedback">
              La fecha de fin es requerida
           </div>
        </ion-item>

        
         <ion-item>
            <ion-label position="stacked">CONVOCATORIA</ion-label>
            <ionic-selectable
              item-content
              [(ngModel)]="convocatoria.tipo"
              name="convocatoriaTipo"
              itemValueField="id"
              itemTextField="tipo"
              [items]="tiposTrabajos"
              [canSearch]="true"
              (onSearch)="searchPorts($event)">
            </ionic-selectable>
          </ion-item>
        <!-- 
          <ion-item>
            <h4 *ngIf="images.length == 0" text-center>CARGA CERTIFICADO!</h4>
            <ion-list>
                <ion-item *ngFor="let img of images; index as pos" text-wrap>
                   <ion-thumbnail slot="start">
                     <ion-img [src]="img.path"></ion-img>
                   </ion-thumbnail>
                   <ion-label>
                      {{ img.name }}
                   </ion-label>
                   <ion-button slot="end" fill="clear" (click)="startUpload(img)">
                     <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
                   </ion-button>
                   <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
                     <ion-icon slot="icon-only" name="trash"></ion-icon>
                   </ion-button>
                </ion-item>
           </ion-list>
         </ion-item>
 
         
          <ion-item>
            <ion-button fill="clear" expand="full"  (click)="selectImage()">
               <ion-icon slot="end" name="camera">
               ADJUNTAR</ion-icon> Select Image
            </ion-button>
          </ion-item>


         -->
         

         <div class="form-group">
          <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>


        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button type="submit" [disabled]="!convocatoriaForm.form.valid">
             <ion-button type="submit" [disabled]="!convocatoriaForm.form.valid">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-button>
          </ion-fab-button>
        </ion-fab>
 
    </form>
</ion-content>