<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end" (click)="cancel()">
        <ion-icon name="close"></ion-icon>
    </ion-buttons>
    <ion-title class="textoTitulo" class="textoBold">Nuevo Evento</ion-title>
  </ion-toolbar>
</ion-header>
<!--{{ diagnostic }}-->

<ion-content>
  <ion-list>
    
    <ion-item>
      <ion-label position="stacked" class="textoBold" color="success">Tipo</ion-label>
      <ionic-selectable class="fuente"
        item-content
        [(ngModel)]="evento.actividad"
        name="eventoTipo"
        itemValueField="codigo"
        itemTextField="descripcion"
        [items]="tiposTrabajos"
        [canSearch]="true"
        (onSearch)="searchPorts($event)">
      </ionic-selectable>
    </ion-item>
    

    <ion-item>
      <ion-label position="stacked" class="textoBold" color="success">Inicio</ion-label>
      <ion-datetime class="fuente" displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="evento.inicio"
      monthNames="enero, febrero, marzo, abril, mayo, junio, julio, agosto, septiembre, octubre, noviembre, diciembre"
      monthShortNames="en, feb, mar, abr, may, jun, jul, agos, sept, oct, nov, dic"
      dayNames="domingo, lunes, martes, miercoles, jueves, viernes, sabado"
      dayShortNames="dom, lun, mar, mier, jue, vier, sab, dom"
           ></ion-datetime>
    </ion-item>
 
    <ion-item>
      <ion-label position="stacked" class="textoBold" color="success">Fin</ion-label>
      <ion-datetime class="fuente" displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="evento.fin"
      monthNames="enero, febrero, marzo, abril, mayo, junio, julio, agosto, septiembre, octubre, noviembre, diciembre"
      monthShortNames="en, feb, mar, abr, may, jun, jul, agos, sept, oct, nov, dic"
      dayNames="domingo, lunes, martes, miercoles, jueves, viernes, sabado"
      dayShortNames="dom, lun, mar, mier, jue, vier, sab, dom"
          ></ion-datetime>
    </ion-item>
 
    <ion-item>
        <ion-label position="stacked" class="textoBold" color="success">Detalles de la tarea</ion-label>
        <ion-input class="fuente" type="text" [(ngModel)]="evento.detalle"></ion-input>
    </ion-item>

  </ion-list>
 
 <div class="centrarBoton">
  <ion-button ion-button full color="primary" class="sombra" (click)="save()">AGENDAR</ion-button>
 </div>

  <!--<button ion-button full icon-left (click)="save()">
    <ion-icon name="checkmark"></ion-icon> Add Event
  </button>-->
</ion-content>
