<ion-split-pane>
  
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title class="textoTitulo">Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="openActividades('principal')" >
                Actividades
            </ion-item>
            <ion-item (click)="openAgenda('second')" >
                 Agenda
            </ion-item>
            <ion-item (click)="openInformes('second')" >
                Informes
           </ion-item>
           <ion-item (click)="logout()" >
                Salir
           </ion-item>
           <!--<ion-button (click)="logout()">
                  <ion-icon slot="icon-only" name="log-out"> </ion-icon>
                  Logout
            </ion-button>-->
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>