<ion-split-pane>
  
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-button (click)="logout()">
                  <ion-icon slot="icon-only" name="log-out"> </ion-icon>
                  Logout
            </ion-button>
            <ion-item (click)="open('principal')" >
                CARGAR ACTIVIDAD
            </ion-item>
            <ion-item (click)="open('second')" >
                 VER AGENDA
            </ion-item>
            <ion-item (click)="open('second')" >
                VER INFORMES
           </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>