  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title class="textoTitulo">Informes</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content padding>
      <ion-list margin-top>
          <ion-item-sliding *ngFor="let item of inspecciones">
            <ion-item lines="inset" button [routerLink]="['/members/details', item.id]">
              <ion-label>
                {{ item.task }}
                <p>{{ item.createdAt | date:'short' }}</p>
              </ion-label>
              <ion-note slot="end" color="primary">{{ item.priority }}</ion-note>
            </ion-item>
       
            <ion-item-options side="end">
              <ion-item-option (click)="remove(item)" color="secondary">
                Check
                <ion-icon name="checkmark" slot="end"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
  </ion-content>

  <ion-footer>
   <ion-toolbar color="primary">
    <ion-title class="textoFooter"><strong>Buenos Aires</strong> Provincia</ion-title>
   </ion-toolbar>
  </ion-footer>
  