<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="textoTitulo">Visita Escuela</ion-title>
  </ion-toolbar>
</ion-header>
<!--{{ diagnostic }}-->
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form #visitaForm="ngForm"  (ngSubmit)="onSubmit()">

          <ion-item>
            <ion-label position="stacked" class="textoBold" color="success">Fecha y Hora Inicio  (*)</ion-label>
            <ion-datetime class="fuente" displayFormat="DD/MMM/YYYY, HH:mm" pickerFormat="DD-MM-YYYY HH:mm" [(ngModel)]="visita.inicio" name="inicio" #inicio="ngModel" required
              monthNames="enero, febrero, marzo, abril, mayo, junio, julio, agosto, septiembre, octubre, noviembre, diciembre"
              monthShortNames="en, feb, mar, abr, may, jun, jul, agos, sept, oct, nov, dic"
              dayNames="domingo, lunes, martes, miercoles, jueves, viernes, sabado"
              dayShortNames="dom, lun, mar, mier, jue, vier, sab, dom"
            ></ion-datetime>
            <div *ngIf="!(inicio.valid || inicio.pristine)" class="invalid-feedback">
               La fecha de inicio es requerida
            </div>
          </ion-item>
            

          <ion-item>
            <ion-label position="stacked" class="textoBold" color="success">Fecha y Hora Fin  (*)</ion-label>
            <ion-datetime class="fuente" displayFormat="DD/MMM/YYYY, HH:mm" pickerFormat="DD-MM-YYYY HH:mm" [(ngModel)]="visita.fin" name="fin" #fin="ngModel" required
              monthNames="enero, febrero, marzo, abril, mayo, junio, julio, agosto, septiembre, octubre, noviembre, diciembre"
              monthShortNames="en, feb, mar, abr, may, jun, jul, agos, sept, oct, nov, dic"
              dayNames="domingo, lunes, martes, miercoles, jueves, viernes, sabado"
              dayShortNames="dom, lun, mar, mier, jue, vier, sab, dom">  
              </ion-datetime>
            <div *ngIf="!(fin.valid || fin.pristine)" class="invalid-feedback">
                  La fecha de fin es requerida
            </div>
          </ion-item>
          
           <ion-item>
            <ion-label position="stacked" class="textoBold" color="success">CUE  (*)</ion-label>
            <ion-input class="fuente" type="text" [(ngModel)]="visita.establecimiento.cue" name="cue" #cue="ngModel" required></ion-input>
            <div *ngIf="!(cue.valid || cue.pristine)" class="invalid-feedback">
                La escuela es requerida
            </div>
          </ion-item>
          
          <ion-item>
             <ion-label position="stacked" class="textoBold" color="success">Motivo</ion-label>
             <ionic-selectable class="fuente"
                item-content
                [(ngModel)]="visita.motivo"
                name="motivoVisita"
                itemValueField="codigo"
                itemTextField="descripcion"
                [items]="motivos"
                [canSearch]="true"
                (onSearch)="searchMotivos($event)">
              </ionic-selectable>
          </ion-item>   


          <ion-item>
            <ion-label position="stacked" class="textoBold" color="success">Observaciones</ion-label>
            <ion-input class="fuente" type="text" [(ngModel)]="visita.observaciones" name="observaciones" #observaciones="ngModel"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked" class="textoBold" color="success">Inspector Acompañante</ion-label>
            <ion-input class="fuente" type="text" [(ngModel)]="visita.acompaniante" name="acompaniante" #acompaniante="ngModel"></ion-input>
          </ion-item>

          <ion-item class="paddingcheck">
            <ion-label class="paddinglabel" color="success" >Situaci&oacute;n de conflicto</ion-label>
            <ion-checkbox checked="true" [(ngModel)]="conflicto" name="urg"></ion-checkbox>
          </ion-item>
         
    <!-- ********************************* Para plataformas moviles *********************************************************************** -->
          <!--<div *ngIf="esPlataformaMovil">
            <ion-item>
              <h4 *ngIf="images.length == 0" text-center>CARGA CERTIFICADO!</h4>
              <ion-list>
                 <ion-item *ngFor="let img of images; index as pos" text-wrap>
                    <ion-thumbnail slot="start">
                      <ion-img [src]="img.path"></ion-img>
                    </ion-thumbnail>
                    <ion-label>
                        {{ img.name }}
                    </ion-label>
                    <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-button>
                  </ion-item>
              </ion-list>
            </ion-item>

      
            <ion-item>
                <ion-button fill="clear" expand="full"  (click)="selectImage()">
                  <ion-icon slot="end" name="camera">
                  ADJUNTAR</ion-icon> Select Image
                </ion-button>
            </ion-item>
          </div>-->

    <!-- **********************************  Para plataformas web  ********************************************************************** -->
          <hr>
          <div class="posicion">
          <ion-label position="stacked" class="textoBold" color="success" *ngIf="imagesWeb.length == 0">No hay im&aacute;genes seleccionadas</ion-label>
        </div>
          <ion-list>
            <ion-item *ngFor="let img of imagesWeb; index as pos" text-wrap>
              <ion-thumbnail slot="start">  
                <ion-img [src]="img.archivo"></ion-img>
              </ion-thumbnail>
            
              <ion-button slot="end" fill="clear" (click)="deleteImageWeb(pos)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </ion-item> 
          </ion-list>

          <ion-item class="centerGroup">
            <ion-label id="profile_image" color="primary" stacked>Im&aacute;genes</ion-label>
            <ion-input type="file" [(ngModel)]="imgs" name="imgs" id="imgs" (change)="changeListener($event)"></ion-input>
          </ion-item>
    <!-- ******************************************************************************************************** -->
             
          <div class="form-group">
            <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </div>

          <ion-fab horizontal="end" >
            <ion-fab-button color="tertiary" [disabled]="!visitaForm.form.valid">
             <ion-button class="centerGroup" type="submit" [disabled]="!visitaForm.form.valid" color="tertiary">
              <ion-icon name="checkmark"></ion-icon>
             </ion-button>
            </ion-fab-button>
          </ion-fab> 
       </form>  
      </ion-col>
     </ion-row>
    </ion-grid>   
       
</ion-content>

