        /*HEADER*/
.textoTitulo {
	font-family:"DIN";
}

.textoBold {
	font-weight:bold;
}


             /*FOOTER*/
.textoFooter {
  font-family:"DIN";
  color:#fff;
  text-align:center;
  font-size: 1rem;
}  




