<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title class="textoTitulo">Informes de Trabajo Administrativo</ion-title>
    </ion-toolbar>
</ion-header>

  <ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col>

          <ion-item class="busquedaPrimera">
            <ion-label position="stacked" class="textoBold" color="success">Seleccionar actividad</ion-label>
              <ion-select  (ionChange)="onChange($event)" (ionFocus)="checkFocus($event)" okText="Okay" cancelText="Cancelar" [(ngModel)]="url">
              <ion-select-option *ngFor="let opt of opciones">{{opt}}</ion-select-option>  
            </ion-select>
          </ion-item>    
            
          <ion-item class="busquedaSegunda">
             <ion-label position="stacked" class="textoBold" color="success">Buscar </ion-label>
             <ion-input type="text"  [(ngModel)]="tipo"></ion-input>
          </ion-item>
          <hr>
          <hr>
          <hr>
          <hr>
           <div class="form-group">
            <ion-button (click)="filtrar()">Buscar</ion-button>
           </div> 

           <div  *ngIf="trabajosAdmin.length==0" class="centrarResultado">
            <ion-label class="textoBold" color="success"> No hay resultados</ion-label>
           </div>
      
            <ion-list margin-top>
                <ion-item-sliding *ngFor="let item of trabajosAdmin">
                    <ion-item lines="inset">
                      <ion-label>
                        TIPO DE TRABAJO ADMINISTRATIVO: {{ item.tipoTrabajoAdmin.descripcion }} <br>
                        INICIO: <p>{{ item.inicio }}</p>
                        FIN:  <p>{{ item.fin }}</p>
                      </ion-label>
                    </ion-item>
                </ion-item-sliding>
            </ion-list>


            <ion-infinite-scroll (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Loading Users...">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
            
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <ion-footer>
   <ion-toolbar color="primary">
    <ion-title class="textoFooter"><strong>Buenos Aires</strong> Provincia</ion-title>
   </ion-toolbar>
  </ion-footer>
  